
<div class="row no-gutters p-3">
  <div class="col-12 mb-3 text-center">
    <span class="h6">第二十四届全国中小学生绘画书法作品比赛<br>
      全国终评入围及预估获奖结果查询</span>
  </div>

  <% if @openid_results.count < 1%>
  <div class="col-12 mb-3">
    <div class="card p-2 shadow-sm">
      <p>"您尚未提交报名信息，请在“前沿课堂论坛”公众号进行提交。"</p>
    </div>
  </div>
  <% end %>


  <div class="col-12">

    <%# form = @openid_results[0].form %>
    <% index_names = %w(姓名 序号 确认码 提交时间) %>
      <% @openid_results.each do |record| %>
 	      <% form_fields = Entry.new(result: record, show_fileds: index_names).set_show_values %>

        <%# %w(广西区内报名 广西区外报名 作品评审费 光盘征订 会议视频征订).each {|name| index_names << name if values[name].to_s.match(/\d/) } %>
   	    <div class="card mb-3">
           <!-- <div class="card-header">

           </div> -->
           <div class="card-body">

         		<div class="card-text">
               <% form_fields.each do |field_hash| %>
                 <% v = field_hash.values.first %>
                 <p class="mb-1">
       				    <%= tag.b(v["label"] + ":") %>
                  <%= v["value"] %>
                  <%# compile_value(values[name])%>
                 </p>
               <% end %>

         			<%= link_to '查看详情',{ controller: "matches", action: 'show', id: record}, class: "btn btn-sm btn-primary" %>
         		</div>
          </div>
   	    </div>

   <% end %>
   <%# link_to '返回',  root_path, class: "btn btn-sm btn-primary" %>
  </div>
</div>
