<div class="container">
  <div class="row py-2">
    <div class="col-12 text-center">
      <%# image_tag("logo_horizontal.png", width: "200px") %>
    </div>
    <div class="col-12 pt-1 text-center">
      <span class="h6 font-weight-bold">
        第二十四届全国中小学生<br>
        绘画书法作品比赛广西赛区
      </span>
    </div>
  </div>

  <div class="row ">

    <div class="col-12 rounded my-2 ">
      <div class="card ">
        <!-- <div class="card-header font-weight-bold">
          参赛报名
        </div> -->
        <div class="card-body">
          <p class="mb-2">点击下方链接查询广西赛区复评结果。</p>
          <!-- <p class="mb-2">系统维护中，请稍后查看。</p> -->

        </div>
      </div>
    </div>

    <%= link_to matches_path, class: "btn btn-primary btn-block my-3 mx-3" do %>
      复评结果查询
    <% end %>

  </div>



</div>
